<% provide(:title, 'Inscrição realizada') %>
<% content_for :div_class, 'page' %>
<% content_for :footer_class, 'footer' %>
<% content_for :body_class, 'body' %>
<% content_for :html_class, 'html' %>
<div class="container">
    <div class="col-sm-4 col-sm-offset-4">
        <h1>Não há nenhum evento no momento</h1>
        <p></p>

    </div>
</div>
 