<% provide(:title, 'Datas de Dinâmica') %>

<h1>Datas de Dinâmica</h1>

<table>
	<thead>
		<tr>
			<th>Data</th>
		</tr>
	</thead>
	<tbody>
		<% @datas.each do |d| %>
			<tr>
				<td>
					<%= form_for d do |f| %>
						<%= render 'shared/error_messages', object: f.object %>
						<%= f.text_field :data %>
						<%= f.submit "Editar" %>
					<% end %>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>